.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}
#shipping {
  color: red;
}
.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
}
.footer {
  padding-top: 20px;
  padding-bottom: 30px;
}